# Игнорировать всё
/*

# Исключить из игнорирования конкретные файлы и папки
!deals.php
!README.md
!/api/
!/api/dealslist.deals.list.get.php
!/local/
!/local/components/
!/local/components/dealslist/

# Исключить из игнорирования .gitignore (чтобы сам файл не игнорировался)
!.gitignore